#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/**
 * Custom fonts
 */
/* Bauhaus font */
@font-face {
  font-family: "Bauhaus-Light";
  src: url("./assets/fonts/bauhausstd-light.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "Bauhaus-Medium";
  src: url("./assets/fonts/bauhausstd-medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Bauhaus-Heavy";
  src: url("./assets/fonts/bauhausstd-heavy.ttf") format("truetype");
  font-weight: bold;
}

/* Hummingbird font */
@font-face {
  font-family: "Hummingbird";
  src: url("./assets/fonts//hummingbird.ttf") format("truetype");
  font-weight: normal;
}

/* LobsterTwo font */
@font-face {
  font-family: "LobsterTwo-Regular";
  src: url("./assets/fonts/LobsterTwo-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "LobsterTwo-Bold";
  src: url("./assets/fonts/LobsterTwo-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* NexaScript Font */
@font-face {
  font-family: "NexaScript-Light";
  src: url("./assets/fonts/NexaScriptLight.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "NexaScript-Heavy";
  src: url("./assets/fonts/NexaScriptHeavy.otf") format("opentype");
  font-weight: bold;
}

/* NotoSerif font */
@font-face {
  font-family: "NotoSerif";
  src: url("./assets/fonts/NotoSerif.ttf") format("truetype");
  font-weight: normal;
}

/* Roboto font */
@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* Ubuntu font */
@font-face {
  font-family: "Ubuntu-Regular";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
